@import '~include-media/dist/include-media';

.content {

    .container {

        .rooms {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            // column-gap: 20px;
            // row-gap: 40px;
            background-color: black;

            @include media('<1606px') {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            @include media('<1128px') {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @include media('<950px') {
                grid-template-columns: 1fr 1fr;
            }

            @include media('<550px') {
                grid-template-columns: 1fr;
            }
        }
    }
}