footer {
    border: 0.1px solid lightgray;
    position: fixed;
    z-index: 10;
    height: 100px;
    width: 100%;
    bottom: 0;

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 47px;

        .right-menu {
            display: flex;

            div {
                margin: 0 10px;
            }

            i {
                margin: 0 10px;
            }
        }
    }

    p {
        color: gray;
        font-size: 10px;
    }
}