@import './util.scss';
@import '~include-media/dist/include-media';

header {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    
        @include media('<950px') {
            display: none;
        }
    
        .logos {
            img:first-child {
                width: 30px;
                margin-right: 5px;
            }
    
            img:last-child {
                width: 60px;
    
                @include media('<1128px') {
                    display: none;
                }
            }
        }
    
        .buttons {
            border: 1px solid lightgray;
            border-radius: 30px;
            padding: 5px 7px 0 15px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 29px 0px;
            
    
            button {
                border: none;
                background-color: transparent;
                font-weight: 600;
                cursor: pointer;
            }
    
            .guest_btn {
                color: rgb(73, 73, 73);
                font-weight: lighter;
            }
    
            span {
                margin: 0 6px;
                color: lightgray;
                font-weight: lighter;
                font-size: 25px;
                position: relative;
                top: 4px;
            }
    
            div {
                display: inline-block;
                width: 33px;
                height: 33px;
                border-radius: 50%;
                background-color: $pink;
                position: relative;
                bottom: 7px;
                margin-left: 8px;
            }
    
            i {
                color: white;
                font-size: 12px;
                position: relative;
                left: 10px;
                top: 5.5px;
                -webkit-text-stroke: 1px;
            }

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                cursor: pointer;
            }
        }
    
        .profile_btn {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                padding: 13px 15px;
                border-radius: 25px;
                font-size: 14px;

                &:hover {
                    cursor: pointer;
                    background-color: $shadow-gray;
                }
            }

            .globe {
                margin: 0 20px 0 0;
                padding: 13px;
                border-radius: 50%;
                
                &:hover {
                    cursor: pointer;
                    background-color: $shadow-gray;
                }
            }
    
            .btn {
                border: 1px solid lightgray;
                border-radius: 26px;
                height: 42px;
                width: 77px;
                box-sizing: border-box;
                text-align: center;
    
                i {
                    -webkit-text-stroke: 1px;
                    position: relative;
                }
    
                .bi-list {
                    top: 3px;
                    left: 8px;
                }
    
                .bi-person-circle {
                    color: gray;
                    font-size: 25px;
                    margin-left: 20px;
                    top: 6px;
                }
    
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    cursor: pointer;
                }
            }
        }
    }
    
    .middle-nav {
        display: flex;
        justify-content: space-between;
        height: 80px;
    
        .flex {
            display: flex;
            align-items: center;
        }
    
        .buttons {
            margin-left: 20px;
        }
    
        @include media('<768px') {
            display: none;
        }
    
        @include media('>=950px') {
            display: none;
        }
    }
    
    .small-nav {
        height: 80px;
        display: flex;
        align-items: center;
    
        @include media('>=768px') {
            display: none;
        }
    
        .box {
            width: 100%;
            height: 55px;
            border: 0.1px solid lightgray;
            border-radius: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 29px 0px;
            cursor: pointer;
    
            .left-box {
                display: flex;
                align-items: center;
    
                i {
                    margin: 0 20px;
                    -webkit-text-stroke: 1px;
                }
    
                div {
                    p {
                        margin: 0;
                    }
                    p:first-child {
                        font-size: 14px;
                    }
                    p:last-child {
                        color: gray;
                        font-size: 12px;
    
                        span {
                            margin-left: 15px;
                        }
                    }
                }
            }
    
            .right-circle {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 0.1px solid lightgray;
                margin-right: 10px;
    
                i {
                    position: relative;
                    top: 8px;
                    left: 10px;
                    -webkit-text-stroke: 1px;
                }
            }
        }
    }

    .dropdown {
        width: 240px;
        position: absolute;
        left: -40px;
        z-index: 20;
        border-radius: 15px;
        box-shadow: 0 -5px 10px 0.1px rgb(240, 240, 240);
        background-color: white;
        padding: 10px 0;
        -webkit-touch-callout: none;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;

        hr {
            margin: 10px 0;
        }

        p {
            margin: 0;
            padding: 10px 0 15px 20px;
            font-size: 13px;

            &:first-child {
                font-weight: bold;
            }

            &:hover {
                background-color: $shadow-gray;
                cursor: pointer;
            }
        }
    }
}