@import './util.scss';

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 10px 0;

    .logos {

        padding-top: 8px;

        img:first-child {
            width: 30px;
            margin-right: 5px;
        }

        img:last-child {
            width: 60px;
        }
    }

    .buttons {
        border: 1px solid lightgray;
        border-radius: 30px;
        padding: 5px 7px 0 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 29px 0px;
        

        button {
            border: none;
            background-color: transparent;
            font-weight: 600;
        }

        .guest_btn {
            color: rgb(73, 73, 73);
            font-weight: lighter;
        }

        span {
            margin: 0 6px;
            color: lightgray;
            font-weight: lighter;
            font-size: 25px;
            position: relative;
            top: 4px;
        }

        div {
            display: inline-block;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background-color: $pink;
            position: relative;
            bottom: 7px;
            margin-left: 8px;
        }

        i {
            color: white;
            font-size: 12px;
            position: relative;
            left: 10px;
            top: 5.5px;
            -webkit-text-stroke: 1px;
        }
    }

    .profile_btn {
        display: flex;
        justify-content: center;
        align-items: center;

        .bi-globe {
            margin: 0 20px;
        }

        div {
            border: 1px solid lightgray;
            border-radius: 26px;
            height: 42px;
            width: 77px;
            box-sizing: border-box;
            text-align: center;

            i {
                -webkit-text-stroke: 1px;
                position: relative;
            }

            .bi-list {
                top: 3px;
                left: 8px;
            }

            .bi-person-circle {
                color: gray;
                font-size: 25px;
                margin-left: 20px;
                top: 6px;
            }
        }
    }

}