@import './util.scss';

.slider {
    width: 100%;
    height: 98px;
    border-top: 0.1px solid lightgray;
    padding-top: 15px;

    .container {
        height: 100%;
        display: flex;
        align-items: center;

        .slide-bar {
            width: 90%;
            display: flex;
            gap: 50px;
            white-space: nowrap;
            margin-right: 30px;
    
            div {
                width: 56px;
                height: 66px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0.6;
                box-sizing: border-box;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                    border-bottom: 2px solid lightgray;
                }
            }
    
            img {
                width: 24px;
                height: 24px;
            }
    
            p {
                margin: 8px 0 5px 0;
                font-size: 12px;
            }
        }
    
        .filter-box {
            height: 48px;
            width: 76.77px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid lightgray;
            border-radius: 15px;
            font-size: 12px;
            font-weight: 600;
    
            i {
                font-size: 13px;
                margin-right: 8px;
                -webkit-text-stroke: 0.5px;
            }
        }
    }
}